<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && registerStudent()" novalidate class="feedback-form">
        <!-- Name -->
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="Username"
                 [(ngModel)]="model.username"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="name.errors?.required">Field is required</div>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 placeholder="Email"
                 [(ngModel)]="model.email"
                 #email="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                 required email/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && email.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="email.errors?.required">Field is required</div>
            <div *ngIf="email.errors?.email">Field is not a valid email</div>
          </div>
        </div>

        <!-- Feedback -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 placeholder="Password"
                 [(ngModel)]="model.password"
                 #password="ngModel"/>
        </div>

        <button mat-raised-button type="submit" color="accent">
          <i class="fa fa-user"></i>
          <span> Register</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
